<!--input type="button" (click)="llamaService()" class="btn btn-info" value="Pulsame" > 
<input type="button" (click)="llamaServicePromesa()" class="btn btn-info" value="Pulsame Promesa" --> 

<!-- Centered Pills -->
<ul class="nav nav-pills nav-justified">
    <li class="active"><a routerLink="/Principal">Sala de Juegos</a></li>
    <li><a (click)="llamaService()">Servicio</a></li>
    <li><a (click)="llamaServicePromesa()">Serv Promesa</a></li>
    <li><a (click)="llamaServicePromesa()">Serv observable</a></li>
  </ul>
<app-listado-de-resultados [listado]="listadoParaCompartir"> </app-listado-de-resultados>
<button class="btn btn-info" (click)="verTodos()">Ver Todos</button>
<button class="btn btn-success"(click)="verGanadores()">Ver Ganadores</button>
<br>
<button class="btn btn-danger" (click)="verPerdedores()">Ver Perdedores</button>
<br><br><br>
<div class="select">
<select [(ngModel)]="juegoElegido">
  <option value="0"  [selected]="juegoElegido == 0">Seleccionar</option>
  <option value="Adivina la película o serie">Adivina la película o serie</option>
  <option value="Anagrama">Anagrama</option>
  <option value="Agilidad Aritmética">Agilidad Aritmética</option>
  <option value="Adivina el número">Adivina el número</option>
  <option value="Piedra, Papel o Tijera">Piedra, Papel o Tijera</option>
</select>
</div>
<br>
<button class="btn btn-info"(click)="filtrarPorJuego(juegoElegido)">Ver Por Juegos</button>

