.lala{
background-color: lightblue;
background-position: center;
background-repeat: no-repeat;
position: relative;
-webkit-background-size : cover;
-moz-background-size : cover;
-moz-background-size : cover;
background-size: cover;
margin:0;
padding:0;
}