<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form>
<h2 [hidden]="ocultarOpcionMaquina">La maquina había elegido</h2>
<img [hidden]="ocultarOpcionMaquina" src="../../../assets/imagenes/PPT/{{nuevoJuego.imagenMaquina}}" width="300px" height="300px">
<br><br>
<div *ngIf="nuevoJuego.imagenesUsuario != null">
<h2>Vos que opcion elegis?</h2>
        <br><br>
        <button (click)="verificar('piedra')" class="btnOpciones" value="piedra" id="btn1"><img src="../../../assets/imagenes/PPT/{{nuevoJuego.imagenesUsuario[0]['path']}}" width="250px" height="250px"></button>
        <button (click)="verificar('papel')" class="btnOpciones" value="papel" id="btn2"><img src="../../../assets/imagenes/PPT/{{nuevoJuego.imagenesUsuario[1]['path']}}" width="250px" height="250px"></button>
        <button (click)="verificar('tijera')" class="btnOpciones" value="tijera" id="btn3"><img src="../../../assets/imagenes/PPT/{{nuevoJuego.imagenesUsuario[2]['path']}}" width="250px" height="250px"></button>
      </div>
<button *ngIf="nuevoJuego.imagenMaquina == null" (click)="generar()">Comenzar Nuevo Juego</button>
</form>
<div id="snackbar">{{Mensajes}}</div>